<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>106 우리들만의 추억</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
    <link rel='icon' type='images/png' href='media/images/logo.png'>
    {% block title %}
    {% endblock %}
</head>
<body>
    <style>
    span {
        background-color: rgba(255,255,255,.5);
    }
    </style>
    {% block content %}
    {% endblock %}
</body>