<nav class="navbar sticky-top navbar-light" style="background-color: #96d1e4;">
    <div class="container-fluid">
        <span class="navbar-brand"><img src="media/images/logo.png" width="40" height="40" class="d-inline-block align-text-top"></span>
        {% if user.is_authenticated %}
            <a href="https://memories106.run.goorm.io/accounts/logout" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">로그아웃</a>
            <a href="https://memories106.run.goorm.io/crud/create" class="btn btn-secondary btn-lg active" aria-pressed="true"><img src="media/images/writing.png" alt="글쓰기" width="35" height="35"></a>        
        {% else %}
            <a href="https://memories106.run.goorm.io/accounts/login" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">로그인</a>
        {% endif %}
        <a href="https://memories106.run.goorm.io" class="btn btn-secondary btn-lg active" aria-pressed="true"><img src="media/images/home.png" alt="home" width="35" height="35"></a>
        <form method="GET" action="{% url 'search'%}">
            {% csrf_token %}
            <input class="form-control" name="search" type="search" placeholder="Search" >
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>